.blog_section {
    background-color: black;
    padding-top: 280px;
    padding-bottom: 80px;
    margin-top: -159px;
    position: relative;
    z-index: 2;
}

.text_col {
    width: 450px;
}
.forMargin{
    margin-top: 40px;
}
.blog_title {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 4px;
    text-align: left;
    color: rgba(255, 168, 75, 1);
    text-transform: uppercase;
}

.blog_gap{
    gap: 71px;
}

.blog_description {
    font-family: 'Roboto';
    font-size: 54px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 17px 0 35px 0;
}
.blog_text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.mx-3{
    margin-left: 19px;
}